{% extends 'base.html' %}
{% block css %}
<link rel="stylesheet" href="{{url_for('static', filename='css/app.css')}}" />
{% endblock %}

 {% block main %}
<form action="{{url_for('contact')}}" method="POST">
    {{formobj.csrf_token}}
    <div class="formgroup">
        <h2>Contact Form</h2>
        <span>Fill in this form to contact the site owners</span>
    </div>
    <div class="formgroup">
      <label>Name<span class="text-danger">(Required)</span></label>
      {{formobj.name.label}} {{formobj.name(class_="form-control")}}</div>
    <div class="formgroup">
      <label>E-mail<span class="text-danger">(Required)</span></label>
      {{formobj.email.label}} {{formobj.email(class_="form-control")}}
    </div>
    <div class="formgroup">
      <label>Subject<span class="text-danger">(Required)</span></label>
      {{formobj.subject.label}} {{formobj.subject(class_="form-control")}}
    </div>
    <div class="formgroup w-50">
      <label>Message<span class="text-danger">(Required)</span></label>
      {{formobj.message.label}} {{formobj.message(class_="form-control", **{"rows": "4"})  }}
    </div>
     <button type="submit" class="btn btn-primary col-md-2">Send</button>
</form>

{% endblock %}
